<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Employee</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/employeeDetail.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Employee Detail</h1>
	</div>
		
	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>

		<div class="inputContent">
		
			<table id="employeeDetails">
				<tbody>
				
					<tr class="hidden">
						<td>ID:</td>
						<td>
							<input id="employeeId" type="hidden" th:value="${!employee.isEmpty} ? ${employee.id} : ''" />
						</td>
					</tr>
					<tr class="hidden">
						<td>Manager ID:</td>
						<td>
							<input id="employeeManagerId" type="hidden" th:value="${!employee.isEmpty} ? ${employee.managerId} : ''" />
						</td>
					</tr>
					<tr th:class="${employee.isEmpty} ? hidden : ''">
						<td class="label">Employee ID:</td>
						<td>
							<input id="employeeEmployeeId" type="text" th:value="${!employee.isEmpty} ? ${employee.employeeId} : ''" class="update" disabled />
						</td>
					</tr>
					<!-- TODO: Other employee inputs -->
					<div class="employeeDetailViewWrapper">
					<br />
						<label for="fname">First name:</label>
						<input type="text" id="fname" name="fname"><p id="fnameErr"></p>
						<label for="lname">Last name:</label>
						<input type="text" id="lname" name="lname"><p id="lnameErr"></p>
						<label for="password">Password:</label>
						<input type="text" id="password" name="password"><p id="passwordErr"></p>
						<label for="verifypw">Verify Password:</label>
						<input type="text" id="verifypw" name="verifypw"><br><br>
						<label for="emptype">Employee Type:</label>
						<select id="emptype">
							<option value="cashier">Cashier</option>
							<option value="shiftmanager">Shift Manager</option>
							<option value="genmanager">General Manager</option>
						</select>
				<br><br>
				<button id="saveBtn" type="button">Save</button>
				</div>

			</form>
			</div>
				</tbody>
			</table>
		</div>

		<!-- TODO: An action element to initiate a save -->

		<!--
						<span>Employee</span><br />
						<span>Saved</span>
					</h1>
				</div>
			</div>
		</div>-->
	</div>

	<div class="footer" th:classappend="${employee.isInitialEmployee} ? hidden : ''">
		<img id="signOutImage" src="input-24px.svg" alt="Sign Out" class="footer" />
	</div>

	<!-- TODO: HTTP request via AJAX to save employee details-->
<script>
	document.getElementById("saveBtn").addEventListener("click", function(){
	const saveActionElement = event.target;
	saveActionElement.disabled = true;
	var checkFirst = document.getElementById("fname").value;
	var checkLast = document.getElementById("lname").value;
	var checkPass = document.getElementById("password").value;
	var checkPass2 = document.getElementById("verifypw").value;
	var empType = document.getElementById("emptype").value;
	if (checkFirst == ""){
						document.getElementById("fnameErr").innerHTML = "First name is empty. Please enter your first name."; 
						document.getElementById("lnameErr").innerHTML = "";
						document.getElementById("passwordErr").innerHTML = "";
						return false;
					} 
	if (checkLast == ""){
						document.getElementById("fnameErr").innerHTML = "";
						document.getElementById("lnameErr").innerHTML= "Last name is empty. Please enter your last name.";
						document.getElementById("passwordErr").innerHTML = "";
						return false;
					} 
	if (checkPass != checkPass2){
						document.getElementById("fnameErr").innerHTML = "";
						document.getElementById("lnameErr").innerHTML = "";
						document.getElementById("passwordErr").innerHTML = "Passwords do not match. Please ensure your password and its verfication match.";
						return false;
					} 
	const employeeId = getEmployeeId(); 
	const employeeIdIsDefined = ((employeeID != null) && (employeeID.trim() !== ""));
	const saveActionUrl = ("/employeeDetail/"
		+ (employeeIDIsDefined ? employeeID : ""));
	const saveEmployeeRequest = {
		fname: checkFirst,
		lname: checkLast,
		password: checkPass,
		emptype: empType
	};

	if (employeeIdIsDefined) {
		ajaxPut(saveActionUrl, saveEmployeeRequest, (callbackResponse) => {
			saveActionElement.disabled = false;
		});
	} else {
		ajaxPost(saveActionUrl, saveProductRequest, (callbackResponse) => {
			saveActionElement.disabled = false;
		});
	}			
	
});
</script>
</body>

</html>