<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Sign In</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/signIn.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Sign In</h1>
	</div>
		
	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>
			<div class="loginWrapper">
				<div>
					<!--Login form. Gathers employee ID (empID) and password (passWord). Then validates against validateSignIn on submission -->
					<form onsubmit="validateSignIn()" action="/" method="POST">
						<label for="empID">Employee ID:</label>
						<input type="number" id="empID" name="empID"><br><br>
						<label for="passWord">Password:</label>
						<input type="password" id="passWord" name="passWord"><br><br>
						<input type="submit" value="Sign In">
					  </form>
				</div>
			</div>
	
			<div class="hidden">
				<input type="checkbox" id="isRefreshed" class="hidden">
				<script type="text/javascript">
				//validation function, checks if employee ID/password are empty, and if employee ID is a number
					function validateSignIn(){
						var checkID = document.getElementById("empID").value;
						var checkPass = document.getElementById("passWord").value;
	
						if (checkID == ""){
							alert("Employee ID is empty. Please enter an employee ID.");
							return false;
						}
						if (isNaN(checkID)){
							alert("Please enter the numbers corresponding to your employee ID.");
							return false;
						}
						if (checkPass==""){
							alert("Please enter your password.");
							return false;
						}
						return true;
					 }
				</script>

	</div>
		
</body>

</html>